/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #f1b2ce;
  --main-background-color: #000028;
  --another-elements-color: #ff0070;
  --menu-text-color: #ff0070;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --header-background-image: url(../images/cover-image-dark.png) lightgray 50% /
    cover no-repeat;
  --hover-focus-border-color: rgba(255, 0, 112, 0.4);
  --hover-focus-link-border-color: #f1b2ce;
}
