/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --main-background-color: #fff1f7;
  --another-elements-color: #ff0070;
  --menu-text-color: #353430;
  --border-color: #353430;
  --title-color: #ffc2e6;
  --header-background-image: url(../images/cover-image-light.png) lightgray 50% /
    cover no-repeat;
  --hover-focus-border-color: rgba(50, 49, 45, 0.4);
  --hover-focus-link-border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-background-color: #fff1f7;
    --another-elements-color: #ff8dcb;
    --menu-text-color: #353430;
    --border-color: #353430;
    --title-color: #ffc2e6;
    --header-background-image: url(../images/cover-image-light.png) lightgray
      50% / cover no-repeat;
    --hover-focus-border-color: rgba(50, 49, 45, 0.4);
    --hover-focus-link-border-color: #353430;
  }
}
