.page {
  background: #000028;
  margin: 0;
}

.pre-line-text {
  white-space: pre-line;
}

@media (width <= 1024px) and (width > 576) {
  .pre-line-text {
    white-space: normal;
  }
}

.header {
  display: grid;
}

@media (width <= 576px) {
  .header {
    box-sizing: border-box;
    height: 668px;
    padding: 10px;
  }
}

@media (width > 576px) {
  .header {
    height: 1024px;
  }
}

@media (width > 767px) {
  .header {
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

.decorated-zone {
  display: grid;
  grid-template-rows: min-content 9% min-content min-content 8%;
  grid-template-columns: 1fr min-content;
  gap: 0px;
}

@media ((width > 576px)) {
  .decorated-zone {
    grid-template-columns: 1fr minmax(calc(380px), 1fr);
    grid-template-rows: min-content 350px minmax(200px, 250px) min-content 1fr;
  }
}

@media ((width >= 1024px)) {
  .decorated-zone {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr minmax(200px, 250px) min-content;
  }
}

.decorated-zone:nth-child(-n + 2) {
  justify-items: end;
}

.camera-effect {
  display: flex;
  gap: 3px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

@media ((width >= 1024px)) {
  .camera-effect {
    grid-column-start: 3;
  }
}

.recording {
  margin: 0;
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  text-transform: uppercase;
}

.frame {
  width: 25px;
  height: 25px;
}

.frame__top-right {
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: frame__top-right;
}

.frame__top-right_footer {
  justify-self: end;
}

.recording-circle {
  width: 9px;
  height: 9px;
  border-radius: 100%; /* Скругление верхних углов */
  background-color: #ff0070;
  filter: drop-shadow(0px 0px 4px #ff0070);
}

.header__theme-menu {
  display: grid;
  width: 70px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

@media (width > 576px) and (width < 1024px) {
  .header__theme-menu {
    margin-top: 100px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 13px;
  margin-block-start: 65px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 0;
  }
}

.header__theme-menu-list li:last-child {
  border: 1px solid #ff0070;
}

.header__theme-menu-item {
  width: 44px;
  height: 23px;
  display: flex;
  padding: 0px 13px;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border: none;
  text-transform: lowercase;
}

.header__title {
  margin: 0;
  margin-top: 10px;
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  justify-self: start;
}
@media (width > 576px) {
  .header__title {
    margin-top: 70px;
    margin-right: 20px;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 99px */
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: 157px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
    margin-top: 275px;
    margin-left: -20px;
  }
}

.header__subtitle {
  margin: 0;
  margin-top: 55px;
  width: 100%;
  height: min-content;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background: #ff0070;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
}

@media (width > 576px) {
  .header__subtitle {
    width: 95%;
    justify-self: end;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    margin-top: 75px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
    width: 490px;
    display: flex;
    margin-top: 110px;
  }
}

.frame__bottom-left {
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  margin-top: 31px;
  justify-self: start;
}

.frame__bottom-left_header {
  align-self: end;
  margin: 0;
}

.frame__bottom-left_footer {
  grid-area: frame__bottom-left;
  align-self: end;
  margin: 0;
}

.thoughts-in-lines {
  margin-top: 40px;
  padding: 0 10px 0 10px;
}

@media (width < 767px) {
  .thoughts-in-lines > :nth-child(14) {
    white-space: pre-line;
  }
}

@media (width > 767px) and (width < 1024px) {
  .thoughts-in-lines {
    padding: 0 20px 0 20px;
    margin-top: 60px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(24, min-content);
    grid-template-areas: 
    /* первая страница */
      "a1 a2"
      "a1 a3"
      " . a4"
      " . a5"
      /* вторая страница */
      "b1 ."
      "b2 b2"
      "b3 b3"
      "b4 b4"
      "b5 b5"
      "b6 b6"
      "b7 b7"
      /* Третья страница */
      "c1 c2"
      "c1 c3"
      "c1 c4"
      "c1 c5"
      "c1 c6"
      " . c7"
      " . c8"
      " . c9"
      " . c10"
      " . c11"
      " . c12";
  }
  .thoughts-in-lines > :nth-child(2) {
    margin: 0;
  }
}

@media (width >= 1024px) {
  .thoughts-in-lines {
    padding: 0 20px 0 20px;
    margin-top: 60px;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(24, min-content);
    grid-template-areas: 
    /* первая страница */
      "a1 a2 a2"
      "a1 a3 a3"
      ". a4 a4"
      ". a5 a5"
      /* вторая страница */
      "b1 . ."
      "b2 b4 b6"
      "b3 b5 b7"
      /* Третья страница */
      "c1 c2 c2"
      "c1 c3 c3"
      "c1 c4 c4"
      "c1 c5 c5"
      "c1 c6 c6"
      ". c7 c7"
      ". c8 c8"
      ". c9 c9"
      ". c10 c10"
      ". c11 c11"
      ". c12 c12";
  }
}

.thoughts-in-lines > * {
  word-wrap: normal;
}

@media (width >= 768px) {
  .thoughts-in-lines > :nth-child(14) {
    margin-top: 80px;
  }
}

.thoughts-in-lines > :nth-child(1) {
  grid-area: a1;
}
.thoughts-in-lines > :nth-child(2) {
  grid-area: a2;
}
.thoughts-in-lines > :nth-child(3) {
  grid-area: a3;
}

.thoughts-in-lines > :nth-child(4) {
  grid-area: a4;
}
.thoughts-in-lines > :nth-child(5) {
  grid-area: a5;
}
.thoughts-in-lines > :nth-child(6) {
  grid-area: b1;
  margin-top: 80px;
}
.thoughts-in-lines > :nth-child(7) {
  grid-area: b2;
}
.thoughts-in-lines > :nth-child(8) {
  grid-area: b3;
}
.thoughts-in-lines > :nth-child(9) {
  grid-area: b4;
}
.thoughts-in-lines > :nth-child(10) {
  grid-area: b5;
}
.thoughts-in-lines > :nth-child(11) {
  grid-area: b6;
}
.thoughts-in-lines > :nth-child(12) {
  grid-area: b7;
}
.thoughts-in-lines > :nth-child(13) {
  grid-area: c1;
  margin-top: 80px;
}
.thoughts-in-lines > :nth-child(14) {
  grid-area: c2;
  align-self: end;
}
.thoughts-in-lines > :nth-child(15) {
  grid-area: c3;
}
.thoughts-in-lines > :nth-child(16) {
  grid-area: c4;
}
.thoughts-in-lines > :nth-child(17) {
  grid-area: c5;
}
.thoughts-in-lines > :nth-child(18) {
  grid-area: c6;
}
.thoughts-in-lines > :nth-child(19) {
  grid-area: c7;
}
.thoughts-in-lines > :nth-child(20) {
  grid-area: c8;
}
.thoughts-in-lines > :nth-child(21) {
  grid-area: c9;
}
.thoughts-in-lines > :nth-child(22) {
  grid-area: c10;
}
.thoughts-in-lines > :nth-child(23) {
  grid-area: c11;
}
.thoughts-in-lines > :nth-child(24) {
  grid-area: c12;
}

@media (width >= 1024px) {
  .thoughts-in-lines > :nth-child(1) {
    margin-top: 20px;
  }
  .thoughts-in-lines > :nth-child(7) {
    margin-right: 20px;
  }
  .thoughts-in-lines > :nth-child(9) {
    margin-right: 20px;
  }
  .thoughts-in-lines > :nth-child(11) {
    margin-right: 20px;
  }
}

.block-title {
  margin: 0;
  color: #ff0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  grid-area: block-title;
}

@media (width <= 767px) {
  .block-title:not(:first-child) {
    margin-top: 50px;
  }
}

.block-subtitle {
  margin: 0;
  margin-top: 20px;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  min-height: 23px;
  background: #ff0070;
  grid-area: block-subtitle;
}

.text-block {
  margin: 0;
  margin-top: 10px;
  color: #f1b2ce;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  grid-area: text-block;
}

.text-advice {
  margin: 0;
  margin-top: 20px;
  background: #ff0070;
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  grid-area: text-advice;
  max-height: 24px;
}

.thoughts-in-pictures {
  margin: 0;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

@media (width > 767px) {
  .thoughts-in-pictures {
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    margin-top: 79px;
    min-width: 768px;
  }
}

@media (width <= 767px) {
  .thoughts-in-pictures {
    margin-top: 50px;
  }
}

.pictures-grid {
  justify-content: center;
}

@media (width > 767px) {
  .pictures-grid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    /* grid-template-rows: repeat(3, minmax(min-content,1fr)); */
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-column: span 2;
    grid-row: span 2;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.thoughts-in-pictures__picture {
  margin: 0;
  margin-top: 10px;
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (width > 767px) {
  .thoughts-in-pictures__picture {
    margin: 0;
  }
}

@media (width >= 768px) {
  .thoughts-in-pictures__picture:nth-of-type(1) {
    grid-area: sunset;
    min-width: 480px;
    min-height: 192px;
  }
  .thoughts-in-pictures__picture:nth-of-type(2) {
    grid-area: ice-cream;
    min-width: 229px;
    min-height: 441px;
  }
  .thoughts-in-pictures__picture:nth-of-type(3) {
    grid-area: tape;
    min-width: 229px;
    min-height: 568px;
  }
  .thoughts-in-pictures__picture:nth-of-type(4) {
    grid-area: books;
    min-width: 230px;
    min-height: 230px;
  }
  .thoughts-in-pictures__picture:nth-of-type(5) {
    grid-area: street;
    min-width: 479px;
    min-height: 318px;
  }
}

.footer {
  margin-top: 40px;
  padding: 10px;
  display: grid;
  min-height: 668px;
  grid-template-rows: min-content max-content 45%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    ".  frame__top-right"
    "footer__title footer__title"
    "frame__bottom-left  .";
}

@media (width > 767px) {
  .footer {
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    height: 1024px;
    padding: 20px;
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .footer {
    grid-template-rows: 30% 1fr 30%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 60px;
  }
}

.footer__title {
  margin: 0;
  margin-top: 250px;
  grid-area: footer__title;
  color: #db00ff;
  text-shadow: 2px 2px 0px #ff0070;
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  justify-self: center;
}

@media (width > 767px) {
  .footer__title {
    margin-top: 120px;
    font-size: 120px;
  }
}

@media (width > 1024px) {
  .footer__title {
    margin-top: 0;
    margin-right: 2%;
    font-size: 157px;
  }
}
