.page {
  background: var(--header-background-image);
  background-attachment: fixed;
  margin: 0;
}

:root {
  --main-text-color: #f1b2ce;
  --main-background-color: #000028;
  --another-elements-color: #ff0070;
  --menu-text-color: #ff0070;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --header-background-image: url(../images/cover-image-dark.png) lightgray 50% /
    cover no-repeat;
  --hover-focus-border-color: rgba(255, 0, 112, 0.4);
  --hover-focus-link-border-color: #f1b2ce;
}

.pre-line-text {
  white-space: pre-line;
}

@media (width <= 1024px) and (width > 576) {
  .pre-line-text {
    white-space: normal;
  }
}

.header {
  display: grid;
  height: 100vh;
}

@media (width <= 576px) {
  .header {
    box-sizing: border-box;
    min-height: 668px;
    padding: 10px;
  }
}

@media (width > 576px) {
  .header {
    min-height: 1024px;
    padding: 20px 20px 20px 20px;
  }
}

@media (width > 767px) {
  .header {
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }
}

.decorated-zone {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: min-content 60px min-content 8%;
  grid-template-columns: 1fr min-content;
  gap: 0px;
}

@media ((width > 576px)) {
  .decorated-zone {
    grid-template-columns: 1fr minmax(calc(380px), 1fr);
    grid-template-rows: min-content 165px 265px min-content;
  }
}

@media ((width >= 1024px)) {
  .decorated-zone {
    min-height: 768px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr 180px min-content;
  }
}

.decorated-zone:nth-child(-n + 2) {
  justify-items: end;
}

.camera-effect {
  display: flex;
  gap: 3px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

@media ((width >= 1024px)) {
  .camera-effect {
    grid-column-start: 3;
  }
}

.recording {
  margin: 0;
  color: var(--another-elements-color);
  text-align: center;
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  text-transform: uppercase;
}

.theme_light .recording {
  color: transparent;
}

.frame {
  width: 25px;
  height: 25px;
}

.frame__top-right {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: frame__top-right;
}

.frame__top-right_footer {
  justify-self: end;
}

.recording-circle {
  width: 9px;
  height: 9px;
  border-radius: 100%; /* Скругление верхних углов */
  background-color: var(--another-elements-color);
  filter: drop-shadow(0px 0px 4px var(--another-elements-color));
}

.theme_light .recording-circle {
  background-color: transparent;
  filter: none;
}

.header__theme-menu {
  display: grid;
  width: 70px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

@media (width > 576px) and (width < 1024px) {
  .header__theme-menu {
    margin-top: 110px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 13px;
  margin-block-start: 65px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 0;
  }
}

.theme_dark .header__theme-menu-list li:last-child {
  border: 1px solid var(--border-color);
}

.theme_light .header__theme-menu-list li:first-child {
  border: 1px solid var(--border-color);
}

.header__theme-menu-item {
  width: 44px;
  height: 23px;
  display: flex;
  padding: 0px 13px;
  justify-content: center;
  border: 1px solid transparent;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--menu-text-color);
  text-align: center;
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 0 13px 0 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--hover-focus-border-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--hover-focus-border-color);
}

.header__title {
  margin: 0;
  margin-top: 10px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--another-elements-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  justify-self: start;
}

@media (width > 576px) and (width < 1024px) {
  .header__title {
    margin-left: -3%;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 99px */
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: 157px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
    margin-top: 275px;
    margin-left: -2%;
  }
}

.header__subtitle {
  margin: 0;
  margin-top: 55px;
  width: 100%;
  height: min-content;
  color: var(--main-background-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background: var(--another-elements-color);
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
}

@media (width > 576px) {
  .header__subtitle {
    width: 95%;
    justify-self: end;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    margin: 0;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
    width: 490px;
    display: flex;
    margin-top: 20px;
    white-space: normal;
  }
}

.frame__bottom-left {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  margin-top: 31px;
  justify-self: start;
}

.frame__bottom-left_header {
  align-self: end;
  margin: 0;
}

.frame__bottom-left_footer {
  grid-area: frame__bottom-left;
  align-self: end;
  margin: 0;
}

.thoughts-in-lines__p1 {
  margin-top: 40px;
  padding: 0 10px 0 10px;
}

@media (width >= 767px) {
  .thoughts-in-lines__p1 {
    padding: 0 20px 0 20px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (width <= 1023px) {
  .thoughts-in-lines__p1 > h2:first-of-type {
    margin-top: 50px;
  }
  .thoughts-in-lines__p1 > h2:first-of-type {
    margin-top: 0;
  }
}

@media (width >= 767px) {
  .thoughts-in-lines__p1 > :first-of-type h3 {
    margin-top: 0;
  }
}

@media (width >= 767px) and (width < 1024px) {
  .thoughts-in-lines__p1 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "a1 a2"
      "a1 a2"
      " . a3"
      " . a3";
  }
}

@media (width >= 1024px) {
  .thoughts-in-lines__p1 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "a1 a2 a2"
      "a1 a2 a2"
      ". a3 a3"
      ". a3 a3";
  }
}

.thoughts-in-lines__p1 > :nth-child(1) {
  grid-area: a1;
}
.thoughts-in-lines__p1 > :nth-child(2) {
  grid-area: a2;
}
.thoughts-in-lines__p1 > :nth-child(3) {
  grid-area: a3;
}

.thoughts-in-lines__p2 {
  padding: 0 10px 0 10px;
  margin-top: 50px;
}

@media (width >= 767px) {
  .thoughts-in-lines__p2 {
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (width >= 767px) and (width < 1024px) {
  .thoughts-in-lines__p2 {
    margin-top: 80px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(7, min-content);
    grid-template-areas:
      "b1 ."
      "b2 b2"
      "b2 b2"
      "b3 b3"
      "b3 b3"
      "b4 b4"
      "b4 b4";
  }
}

@media (width >= 1024px) {
  .thoughts-in-lines__p2 {
    grid-column-gap: 20px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "b1 . ."
      "b2 b3 b4";
  }
}

.thoughts-in-lines__p2 > :nth-child(1) {
  grid-area: b1;
}
.thoughts-in-lines__p2 > :nth-child(2) {
  grid-area: b2;
}
.thoughts-in-lines__p2 > :nth-child(3) {
  grid-area: b3;
}
.thoughts-in-lines__p2 > :nth-child(4) {
  grid-area: b4;
}

.thoughts-in-lines__p3 {
  padding: 0 10px 0 10px;
}

@media (width >= 767px) {
  .thoughts-in-lines__p3 {
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (width < 767px) {
  .thoughts-in-lines__p3 {
    margin-top: 50px;
  }
}

@media (width >= 767px) and (width < 1024px) {
  .thoughts-in-lines__p3 {
    margin-top: 80px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(12, min-content);
    grid-template-areas:
      "c1 c2"
      "c1 c3"
      "c1 c3"
      "c1 c4"
      "c1 c4"
      " . c5"
      " . c5"
      " . c6"
      " . c6"
      " . c7"
      " . c7";
  }
}

.thoughts-in-lines__p3 > :nth-child(2) {
  margin: 0;
}

@media (width <= 767px) {
  .thoughts-in-lines__p3 > :first-of-type h3 {
    margin-top: 20px;
  }
}

@media (width <= 767px) {
  .thoughts-in-lines__p3 > :nth-child(2) {
    margin-top: 20px;
  }
}

@media (width >= 1024px) {
  .thoughts-in-lines__p3 {
    grid-column-gap: 20px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(12, min-content);
    grid-template-areas:
      "c1 c2 c2"
      "c1 c3 c3"
      "c1 c3 c3"
      "c1 c4 c4"
      "c1 c4 c4"
      ". c5 c5"
      ". c5 c5"
      ". c6 c6"
      ". c6 c6"
      ". c7 c7"
      ". c7 c7";
  }
}

.thoughts-in-lines__p3 > :nth-child(1) {
  grid-area: c1;
}
.thoughts-in-lines__p3 > :nth-child(2) {
  grid-area: c2;
  align-self: end;
}
.thoughts-in-lines__p3 > :nth-child(3) {
  grid-area: c3;
}
.thoughts-in-lines__p3 > :nth-child(4) {
  grid-area: c4;
}
.thoughts-in-lines__p3 > :nth-child(5) {
  grid-area: c5;
}
.thoughts-in-lines__p3 > :nth-child(6) {
  grid-area: c6;
}
.thoughts-in-lines__p3 > :nth-child(7) {
  grid-area: c7;
}

.block-title {
  margin: 0;
  color: var(--another-elements-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  grid-area: block-title;
}

@media (width <= 767px) {
  .block-title:not(:first-child) {
    margin-top: 50px;
  }
}

.block-subtitle {
  margin: 0;
  margin-top: 20px;
  color: var(--main-background-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background: var(--another-elements-color);
  grid-area: block-subtitle;
}

.text-block {
  margin: 0;
  margin-top: 10px;
  color: var(--main-text-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  grid-area: text-block;
}

.accent-text {
  color: var(--main-text-color);
  text-shadow: var(--another-elements-color) 2px 2px;
  text-decoration: none;
  position: relative;
  display: inline;
  padding: 1px;
}

.accent-text:hover::before {
  content: "";
  position: absolute;
  bottom: 0; /* Располагаем под текстом */
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--hover-focus-link-border-color);
}

.accent-text:focus {
  outline: none;
}

.accent-text:focus-visible::before {
  content: "";
  position: absolute;
  bottom: 0; /* Располагаем под текстом */
  left: 1px;
  top: 6px;
  right: 0;
  width: 100%;
  outline: 1px solid var(--hover-focus-link-border-color);
}

.thoughts-in-pictures {
  margin: 0;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

@media (width > 767px) {
  .thoughts-in-pictures {
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    margin-top: 79px;
    min-width: 768px;
  }
}

@media (width <= 767px) {
  .thoughts-in-pictures {
    margin-top: 50px;
  }
}

.pictures-grid {
  justify-content: center;
}

@media (width > 767px) {
  .pictures-grid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    /* grid-template-rows: repeat(3, minmax(min-content,1fr)); */
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-column: span 2;
    grid-row: span 2;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.thoughts-in-pictures__picture {
  margin: 0;
  margin-top: 10px;
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (width > 767px) {
  .thoughts-in-pictures__picture {
    margin: 0;
  }
}

@media (width >= 768px) {
  .thoughts-in-pictures__picture:nth-of-type(1) {
    grid-area: sunset;
    min-width: 480px;
    min-height: 192px;
  }
  .thoughts-in-pictures__picture:nth-of-type(2) {
    grid-area: ice-cream;
    min-width: 229px;
    min-height: 441px;
  }
  .thoughts-in-pictures__picture:nth-of-type(3) {
    grid-area: tape;
    min-width: 229px;
    min-height: 568px;
  }
  .thoughts-in-pictures__picture:nth-of-type(4) {
    grid-area: books;
    min-width: 230px;
    min-height: 230px;
  }
  .thoughts-in-pictures__picture:nth-of-type(5) {
    grid-area: street;
    min-width: 479px;
    min-height: 318px;
  }
}

.footer {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 10px;
  display: grid;
  grid-template-rows: min-content max-content 42%;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  grid-template-areas:
    ".  frame__top-right"
    "footer__title footer__title"
    "frame__bottom-left  .";
}

@media (width <= 767px) {
  .footer {
    min-height: 668px;
  }
}

@media (width > 767px) and (width < 1024px) {
  .footer {
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    min-height: 1024px;
    padding: 20px;
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .footer {
    grid-template-rows: 30% 1fr 30%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 60px;
    min-height: 768px;
  }
}

.footer__title {
  margin: 0;
  margin-top: 250px;
  grid-area: footer__title;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--another-elements-color);
  font-family:
    IBM Plex Mono,
    sans-serif;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  justify-self: center;
}

@media (width > 767px) and (width < 1024px) {
  .footer__title {
    margin-top: 120px;
    font-size: 120px;
  }
}

@media (width >= 1024px) {
  .footer__title {
    margin-top: 8.5%;
    font-size: 157px;
  }
}
